.search-container {
  display: flex;
  margin-bottom: var(--spacing-thin);
  width: 100%;
  border-radius: var(--radius-sharp);
  overflow: hidden;
  overflow: hidden;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

[id=search-btn] {
  padding: 12px 24px;
  background-color: var(--couleur-principale);
  color: white;
  border: none;
  border-radius: 0 var(--radius-sharp) var(--radius-sharp) 0;
  cursor: pointer;
  font-size: var(--font-current);
  font-weight: 600;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
input {
  background-color: var(--couleur-complementaire-1);
  color: var(--couleur-foncee-texte);
  padding: 5px;
}